.c-beige {
  color: #efd9b4;
}

.b-beige {
  background-color: #efd9b4;
}

.c-blue {
  color: #4d6160;
}

.b-blue {
  background-color: #4d6160;
}

.c-dark-beige {
  color: #a39081;
}

.b-dark-beige {
  background-color: #a39081;
}